@model IEnumerable<project.EF.Category>

@{
    ViewBag.Title = "Categories";
    Layout = "../Shared/_Base.cshtml";
}


<div>@Html.ActionLink("Yeni", "New")</div>

<table class="ten columns">

    <thead>
        <tr>
            <th class="three columns">Name</th>
            <th class="seven columns">Description</th>
            <th class="one column">#</th>
        </tr>
    </thead>

    <tbody>



        @foreach (var category in Model)
        {
            <tr>
                <td class="three columns"> @Html.ActionLink(@category.Name, String.Format("Display/{0}", category.ID))</td>
                <td class="seven columns">@category.Description</td>
                <td>
                    @using (Html.BeginForm(String.Format("Delete/{0}", category.ID), "Category"))
                    {
                        <input type="submit" value="Delete"
                               onclick="return confirm('@String.Format("{0} Silienecek.", category.Name) Emin Misin?') && confirm('Son kararın mı?') && confirm('Bir daha sormam bak.')" />
                    }
                </td>

            </tr>
        }
    </tbody>

</table>
