@model IEnumerable<project.Models.Post>

@{
    ViewBag.Title = "Admin";
    Layout = "../Shared/_Admin.cshtml";
}


<div>@Html.ActionLink("Yeni", "New")</div>

<table>

    <thead class="">
        <tr>
            <th>Title</th>
            <th>Summmary</th>
            <th>Published</th>
            <th>Created</th>
            <th>Changed</th>
            <th>Hit</th>
            <th>Category</th>
            <th>#</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var post in Model)
        {
            <tr>
                <td>@Html.ActionLink(post.Title, String.Format("Display/{0}", post.ID))</td>
                <td>@post.Summary</td>
                <td>@post.Published</td>
                <td>@post.CreatedTime</td>
                <td>@post.ChangedTime</td>
                <td>@post.Hit</td>

                <td>
                    @Html.ActionLink(
                        linkText:post.Category,
                        actionName:"Display",
                        controllerName:"Category",
                        routeValues:new {id = post.CategoryId},
                        htmlAttributes:null)                        
            </td>

                <td>
                    @using (Html.BeginForm(String.Format("Delete/{0}", post.ID), "Node"))
                    {
                        <input type="submit" value="Delete"
                               onclick="return confirm('@String.Format("{0} Silienecek.", post.Title) Emin Misin?') && confirm('Son kararın mı?') && confirm('Bir daha sormam bak.')" />
                    }
                </td>

            </tr>
        }
    </tbody>

</table>
